<div>
  <h2>Productos</h2>
  <ul>
    {{#each products}}
      <li>
        id:
        {{id}}
        <br />
        title:
        {{title}}
        <br />
        description:
        {{description}}
        <br />
        price:
        {{price}}
        <br />
        thumbnail:
        {{thumbnail}}
        <br />
        code:
        {{code}}
        <br />
        stock:
        {{stock}}
        <br />
        status:
        {{status}}
        <br />
        category:
        {{category}}

      </li>
      <br />
    {{/each}}</ul>
</div>